body {
    background-color: #fff;
    font-family: sans-serif;
    color: #333333;
    font: 14px Helvetica, sans-serif;
    box-sizing: border-box;
}
#page {
    margin: 20px;
    background-color: #fff;
}
.container {
    height: inherit;
    padding-bottom: 20px;
}
.header {
    padding: 20px;
}
.header h1 {
    padding-bottom: 0.3em;
    color: #008080;
    font-size: 45px;
    font-weight: bold;
    font-family: Garmond, 'sans-serif';
    text-align: center;
}
h2 {
    padding-bottom: 0.2em;
    border-bottom: 1px solid #eee;
    margin: 2px;
    text-align: left;
}
.header h3 {
    font-weight: bold;
    font-family: Arial, 'sans-serif';
    font-size: 17px;
    color: #b6b6b6;
    text-align: center;
}
.box-full {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 1px 7px 7px 1px rgba(0,0,0,0.4);
    background: #fff;
    margin: 20px;
    width: 300px;
}
@media (max-width: 494px) {
    #page {
        width: inherit;
        margin: 5px auto;
    }
    #content {
        padding: 1px;
    }
    .box-full {
        margin: 8px 8px 12px 8px;
        padding: 10px;
        width: inherit;
        float: none;
    }
}
@media (min-width: 494px) and (max-width: 980px) {
    #page {
        width: 465px;
        margin: 0 auto;
    }
    .box-full {
        width: 380px;
    }
}
@media (min-width: 980px) {
    #page {
        width: 930px;
        margin: auto;
    }
}
.sensor {
    margin: 12px 0px;
    font-size: 2.5rem;
}
.sensor-labels {
    font-size: 1rem;
    vertical-align: middle;
    padding-bottom: 15px;
}
.units {
    font-size: 1.2rem;
}
hr {
    height: 1px;
    color: #eee;
    background-color: #eee;
    border: none;
}